/* CSS Animations*/

/* Fallbacks for color-bar demo in webkit*/

@-webkit-keyframes demo {
  from { -webkit-transform: translateX(-63px); 
                 transform: translateX(-63px); }
  80%  { -webkit-transform: translateX(0); 
                 transform: translateX(0); }
  to   { -webkit-transform: translateX(-63px); 
                 transform: translateX(-63px); }
}

@-webkit-keyframes demo-slide {
  from { -webkit-transform: translateX(0); 
                 transform: translateX(0); }
  80%  { -webkit-transform: translateX(63px); 
                 transform: translateX(63px); }
  to   { -webkit-transform: translateX(0); 
                 transform: translateX(0); }
}

/* Color-bar demo animations*/

@keyframes demo {
  from { -webkit-transform: translateX(-63px); 
                 transform: translateX(-63px); }
  80%  { -webkit-transform: translateX(0); 
                 transform: translateX(0); }
  to   { -webkit-transform: translateX(-63px); 
                 transform: translateX(-63px); }
}

@keyframes demo-slide {
  from { -webkit-transform: translateX(0); 
                 transform: translateX(0); }
  80%  { -webkit-transform: translateX(63px); 
                 transform: translateX(63px); }
  to   { -webkit-transform: translateX(0); 
                 transform: translateX(0); }
}

@-webkit-keyframes demo-fade {
  from { opacity: 0; }
  20%  { opacity: 0; }
  80%  { opacity: 0.8; }
  to   { opacity: 0; }
}

@keyframes demo-fade {
  from { opacity: 0; }
  20%  { opacity: 0; }
  80%  { opacity: 0.8; }
  to   { opacity: 0; }
}

/* Flipcard demo animation */

@-webkit-keyframes demo-flipper {
  from { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  to   { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); }
}

@keyframes demo-flipper {
  from { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  to   { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); }
}

@keyframes foil {
  0%   { background-position: 0% 0%; }
  50%  { background-position: 100% 100%;}
  100% { background-position: 0% 0%; }
}
