// CSS Animations

// Color-bar demo animations

@keyframes demo {
  from { transform: translateX(-63px); }
  80% { transform: translateX(0); }
  to { transform: translateX(-63px); }
}

@keyframes demo-slide {
  from { transform: translateX(0); }
  80% { transform: translateX(63px); }
  to { transform: translateX(0); }
}

@keyframes demo-fade {
  from { opacity: 0; }
  20%  { opacity: 0; }
  80%  { opacity: 0.8; }
  to   { opacity: 0; }
}

// Flipcard demo animation

@keyframes demo-flipper {
  from { transform: rotateY(0deg); }
  to   { transform: rotateY(360deg); }
}

// Animations for foil cards

@keyframes foil {
  0%   { background-position: 0 0; }
  50%  { background-position: 100% 100%; }
  100% { background-position: 0 0; }
}

@keyframes foil-twist {
  0% { transform: rotateY(-2.5deg) rotateX(2.5deg); }
  50% { transform: rotateY(2.5deg) rotateX(-2.5deg); }
  100% { transform: rotateY(-2.5deg) rotateX(2.5deg);}
}

// Flash notification animation

@keyframes flash {
  from { transform: translateY(-5rem); }
  5%   { transform: translateY(0); }
  95%  { transform: translateY(0); }
  to   { transform: translateY(-5rem); }
}

// Cards' loading animation

@keyframes load-in {
  from { opacity: 0; transform: translateX(1000px) rotate(15deg); }
  to   { opacity: 1; transform: translateX(0) rotate(0); }
}

// Decks slide in on page load

@keyframes slidein {
  from { opacity: 0.1; transform: translateX(-100%); }
  50% { opacity: 0.1; transform: translateX(0); }
  to { opacity: 0; transform: translateX(0); }
}

// Tooltips; currently only for card images

@keyframes tooltip {
  from { opacity: 0; transform: translateX(100px) rotate(5deg); }
  to   { opacity: 1; transform: translateX(0) rotate(0); }
}

// Loading spinner

@keyframes loader {
  from { transform: rotate(0deg);   }
  30%  { transform: rotate(-30deg); }
  70%  { transform: rotate(390deg); }
  90%  { transform: rotate(360deg); }
  to   { transform: rotate(360deg); }
}

// Simple utility fade-in animation

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

// Animation when a modal dialog appears

@keyframes dialog {
  from {
    box-shadow: 0 2px 4px $color-shadow;
    filter: blur(4px);
    opacity: 0;
    transform: rotateX(-60deg) scale(0.9);
  }

  to {
    box-shadow: 0 10px 20px 2px $color-shadow;
    filter: blur(0);
    opacity: 1;
    transform: rotateX(0) scale(1);
  }
}

// Animation loops to stagger loading-in animations

@for $i from 1 to 11 {
  .content > .card:nth-child(#{$i}) { animation-delay: $i * 0.025s; }
}


@for $i from 1 to 26 {
  .content > .deck.gallery:nth-child(#{$i}) { animation-delay: $i * 0.015s; }
}
