
/* Builder Elements */

.builder {
  aside {
    max-height: 76vh;
  }
  input {
    width: calc(100% - 1.4rem);
  }
}

.builder-cards {
  .btn {
    margin-bottom: 0;
    margin-right: 0;
    border-radius: $border-radius $border-radius 0 0;
  }
  table {
    position: relative;
    z-index: $z-index-paging;
    td, th {
      &:first-child {
        width: 30px;
      }
    }
  }
}

.add-card {
  margin-top: 1rem;
  input {
    display: inline-block;
    margin-right: -4px;
    &[type="number"] {
      width: 15px;
      text-align: right;
      border-radius: $border-radius 0 0 $border-radius;
    }
    &[type="text"] {
      width: calc(100% - 261px);
      border-radius: 0;
    }
  }
  .btn {
    margin-right: -4px;
    border-radius: 0;
    &:last-child {
      border-radius: 0 $border-radius $border-radius 0;
    }
  }
}
