// Builder Elements

.builder {
  input { width: calc(100% - 1.4rem); }
  .in-deck { opacity: 0.5; }
  .my-cards {
    margin-top: 0;

    .card-name,
    .card-count {
      background-color: tint($color-background, 6%);
      border: 1px solid tint($color-border-strong, 15%);
      border-radius: $border-radius;
      box-shadow: inset 0 -2px 0 $color-shadow,
                  inset 0 0 2px $color-highlight,
                  0 2px 1px $color-shadow;
      color: shade($color-text, 15%);
      display: inline-block;
      margin-bottom: 10px;
      max-width: 100%;
      padding: 0.5rem 0.7rem;
      text-shadow: 0 1px 0 $color-shadow;
      width: calc(100% - 61px - 4.1rem);
    }

    .card-count {
      text-align: right;
      width: 1rem;
    }

    .btn {
      margin-right: 0;
      vertical-align: top;
    }
  }
}

.bulk-edit {
  background: $color-text-weak;
  border-top-left-radius: 0;
  box-shadow: inset 0 -2px 2px $color-shadow;
  color: $color-background;
  font-family: 'prestige-elite-std', monospace;
  font-size: 0.833rem;
  -webkit-font-smoothing: subpixel-antialiased;

  &:focus {
    background: $color-text-weak;
  }
}

.builder-cards {
  [class^="btn-tab-"] {
    border-radius: $border-radius $border-radius 0 0;
  }

  table {
    position: relative;
    text-transform: capitalize;
    z-index: $z-index-paging;

    td,
    th {
      &:first-child {
        width: 45px;
      }
    }
  }
}

.add-card {
  background: tint($color-background, 10%);
  box-shadow: inset 0 -2px 0 $color-shadow;
  padding: 0.5rem 0.5rem 0.2rem;

  input {
    display: inline-block;
    margin-right: -4px;

    &[type="number"] {
      border-radius: $border-radius 0 0 $border-radius;
      text-align: right;
      width: 20px;
    }

    &[type="text"] {
      border-radius: 0;
      width: calc(100% - 266px);
    }
  }

  .btn {
    border-radius: 0;
    margin-right: -4px;

    &:last-child {
      border-radius: 0 $border-radius $border-radius 0;
    }
  }
}
