a.btn, .btn, button {
	display: inline-block;
	border-radius: 2px;
	background: none;
	color: $brand-grey;
	text-decoration: none;
	border: 1px solid $brand-grey;
	padding: 0.5rem 0.7rem;
	font-size: 1rem;
	font-family: $font-family-sans;
	cursor: pointer;
	margin-right: 6px;
	margin-bottom: 10px;
	transition: 0.2s;
	vertical-align: middle;
	white-space: nowrap;
	user-select: none;
	&:focus {
		outline: none;
	}
	&:hover {
		background: lighten($body-bg, 2.5%);
		color: lighten($brand-grey, 5%);
		border-color: lighten($brand-grey, 5%);
		text-shadow: none;
	}
	&:active {
		background: lighten($body-bg, 5%);
		text-shadow: none;
	}
	&.link {
		border-color: transparent;
		color: $brand-primary;
		&:hover {
			background: none;
			span {
				background: linear-gradient($body-bg,$body-bg),linear-gradient($body-bg,$body-bg),linear-gradient($brand-primary,$brand-primary);
				background-size: .05em 1px,.05em 1px,1px 1px;
				background-repeat: no-repeat,no-repeat,repeat-x;
				text-shadow: 0.03em 0 $body-bg, -0.03em 0 $body-bg, 0 0.03em $body-bg, 0 -0.03em $body-bg, 0.06em 0 $body-bg, -0.06em 0 $body-bg, 0.09em 0 $body-bg, -0.09em 0 $body-bg, 0.12em 0 $body-bg, -0.12em 0 $body-bg, 0.15em 0 $body-bg, -0.15em 0 $body-bg;
				background-position: 0 89%,100% 89%,0 89%;
			}
		}
		&:active span {
			color: darken($brand-primary, 5%);
			background: linear-gradient($body-bg,$body-bg),linear-gradient($body-bg,$body-bg),linear-gradient(darken($brand-primary, 5%),darken($brand-primary, 5%));
			background-size: .05em 1px,.05em 1px,1px 1px;
			background-repeat: no-repeat,no-repeat,repeat-x;
			text-shadow: 0.03em 0 $body-bg, -0.03em 0 $body-bg, 0 0.03em $body-bg, 0 -0.03em $body-bg, 0.06em 0 $body-bg, -0.06em 0 $body-bg, 0.09em 0 $body-bg, -0.09em 0 $body-bg, 0.12em 0 $body-bg, -0.12em 0 $body-bg, 0.15em 0 $body-bg, -0.15em 0 $body-bg;
			background-position: 0 89%,100% 89%,0 89%;
		}
	}
	&.primary { @include btn($brand-primary); }
	&.u       { @include btn($mtg-u); }
	&.w       { @include btn($mtg-w); }
	&.r       { @include btn($mtg-r); }
	&.g       { @include btn($mtg-g); }
	&.b       { @include btn($mtg-b); }
	i { // Set Icons
		position: relative;
		bottom: 3px;
		margin-right: 0.25rem;
		-webkit-text-stroke: 0.03em $text-color;
		&.ss-rare {
			-webkit-text-stroke: 0.02em #000;
		}
	}
	.mana.small { // Mana Icons
		position: relative;
		top: 3px;
		margin-right: 0.25rem;
	}
	.caret {
		color: $body-bg;
		-webkit-text-stroke: 1px $brand-grey;
		font-size: 10px;
		margin-left: 0.25rem;
		position: relative;
		bottom: 1px;
	}
}

.btn-group {
	display: inline-block;
	.btn, a.btn, button {
		border-radius: 0;
		margin-right: -4px;
		position: relative;
		z-index: 1;
		&.primary {
			z-index: 3;
		}
		&.u, &.w, &.r, &.g, &.b {
			z-index: 2;
		}
		&:first-child {
			border-radius: 2px 0 0 2px;
		}
		&:last-child {
			border-radius: 0 2px 2px 0;
			margin-right: 6px;
		}
	}
}