.card {
	.card-img	{
		float: left;
		margin-right: 1rem;
	}
	h1 {
		font-family: $font-family-display;
		font-style: italic;
		font-weight: 800;
		font-size: 2.66rem;
		margin: 0;
	}
	h2 {
		font-family: 'mrs-eaves-display';
		font-weight: normal;
		color: rgba($color-text, 0.8);
		margin-top: 0;
	}
	p {
		&.text {
			font-size: 1.5rem;
			line-height: 1.3;
		}
		&.flavor {
			font-style: italic;
			color: darken($color-text, 20%);
			font-size: 1.3rem;
			line-height: 1.1;
			cite {
				display: block;
				font-style: normal;
			}
		}
	}
	.color-identity {
		&.u:after { content: 'Blue'; }
		&.g:after { content: 'Green'; }
		&.w:after { content: 'White'; }
		&.r:after { content: 'Red'; }
		&.b:after { content: 'Black'; }
	}
	.price, .rarity {
		color: $color-text;
	}
	.price-source {
		color: $color-text-weak;
		position: relative;
		bottom: 3px;
	}
	h2 em {
		color: $color-text;
	}
	.most-liked {
		h2 {
			margin-top: 3rem;
		}
	}
}