.card-img {
  // Border-radius is hardcoded based on the border-radius of a Magic card
  // image
  border-radius: 11px;
}

// Styles specific to card.html
.card {
  .card-info {
    display: flex;
    flex-direction: column;
    min-height: 311px;
  }

  .card-container {
    @extend %pull-left;
    margin-bottom: 1rem;
    margin-right: 1rem;
    -webkit-perspective: 1000;
    perspective: 1000;
    position: relative;

    &:hover .flipper {
      transform: rotateY(180deg);
    }
  }

  .card-container,
  .card-img {
    height: 311px;
    width: 223px;
  }

  // Flipper enables 3-D flipping on hover for cards with content on the
  // backside
  .flipper {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }

  .card-img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: tint($color-background, 6%);
    box-shadow: 0 2px 2px shade($color-background, 15%);
    color: transparent;
    left: 0;
    position: absolute;
    top: 0;
    // Pseudo-element hack to handle cases when card images are broken
    &::before {
      background: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 215 298"><defs><style>.cls-1{fill:#323135;}.cls-2{fill:#3a393d;}.cls-3{fill:#414044;}</style></defs><rect width="215" height="298" class="cls-1" rx="6" ry="6"/><path d="M12 9h192a3 3 0 0 1 3 3v240a25 25 0 0 1-25 25H34a25 25 0 0 1-25-25V12a3 3 0 0 1 3-3z" class="cls-2"/><path d="M14 12h187v268H14z" class="cls-2"/><path d="M17 35h181v131H17zm0 155h181v87H17z" class="cls-3"/><rect width="181" height="17" x="17" y="15" class="cls-3" rx="4.6" ry="4.6"/><rect width="181" height="17" x="17" y="170" class="cls-3" rx="5.3" ry="5.3"/><ellipse cx="107.5" cy="279" class="cls-2" rx="14.5" ry="6.3"/><ellipse cx="107.5" cy="280" class="cls-1" rx="11.5" ry="5"/><path d="M90 280h35v8H90z" class="cls-1"/></svg>');
      border: 1px solid tint($color-border-strong, 15%);
      border-radius: $border-radius;
      box-shadow: inset 0 -2px 0 $color-bevel,
      inset 0 0 4px $color-highlight,
      0 2px 3px $color-shadow;
      content: ' ';
      display: block;
      height: calc(100% + 2px);
      left: -1px;
      position: absolute;
      top: -1px;
      width: calc(100% + 2px);
    }

    &::after {
      color: shade($color-text, 15%);
      content: attr(alt);
      display: block;
      font-family: $font-family-text;
      font-size: $font-size-default;
      left: 0;
      position: absolute;
      text-align: center;
      text-decoration: none;
      text-shadow: 0 1px 0 $color-bevel;
      top: 30%;
      width: 100%;
    }

    &:nth-child(2) { transform: rotateY(180deg); }
  }

  &.demo .flipper {
    @include demo(demo-flipper);
  }

  h1 { margin: 0; }
  h2 {
    color: $color-text-weak;
    font-family: $font-family-display;
    font-weight: normal;
    margin-top: -0.25rem;
  }
  .card-text {
    font-family: $font-family-display;
    font-size: $font-size-lead;
    line-height: 1.3;
    max-width: 830px;
    margin-bottom: 0.5rem;
    p {
      margin-bottom: 0.5rem;
      margin-top: 0;
    }

    a {
      @include underline($color-text, tint($color-background, 5%));
      color: $color-text;
      cursor: help;

      &::-moz-selection {
        color: $color-text-weak;
        text-shadow: 0.03em 0 $color-background, -0.03em 0 $color-background, 0 0.03em $color-background, 0 -0.03em $color-background, 0.06em 0 $color-background, -0.06em 0 $color-background, 0.09em 0 $color-background, -0.09em 0 $color-background, 0.12em 0 $color-background, -0.12em 0 $color-background, 0.15em 0 $color-background, -0.15em 0 $color-background;
      }

      &::selection {
        color: $color-text-weak;
        text-shadow: 0.03em 0 $color-background, -0.03em 0 $color-background, 0 0.03em $color-background, 0 -0.03em $color-background, 0.06em 0 $color-background, -0.06em 0 $color-background, 0.09em 0 $color-background, -0.09em 0 $color-background, 0.12em 0 $color-background, -0.12em 0 $color-background, 0.15em 0 $color-background, -0.15em 0 $color-background;
      }

      &:hover {
        @include underline(shade($color-text, 15%), tint($color-background, 5%));
        color: shade($color-text, 15%);
      }
    }

    .card-explanation {
      color: shade($color-text, 20%);
      .tooltip,
      a {
        @include underline(shade($color-text, 20%), tint($color-background, 5%));
        color: shade($color-text, 20%);
      }
    }
    .mana.medium {
      position: relative;
      top: 5px;
      + .mana.medium { margin-left: 3px; }
    }
  }
  .card-flavor {
    color: shade($color-text, 20%);
    font-family: $font-family-display;
    font-size: $font-size-sub;
    font-style: italic;
    line-height: 1.1;
    max-width: 650px;
    p {
      margin-bottom: 0.25rem;
      margin-top: 0;
    }
    cite {
      display: block;
      font-style: normal;
    }
  }

  .price,
  .rarity,
  h2 em { color: $color-text; }

  .price-source {
    bottom: 3px;
    color: $color-text-weak;
    position: relative;
  }

  .most-liked h2 {
    font-family: $font-family-text;
    margin-top: 3rem;
  }

  .sidebar {
    .power-toughness {
      color: $color-text-weak;
      font-family: $font-family-display;
      font-size: $font-size-lead;

      strong {
        color: $color-text;
        font-weight: normal;
      }
    }
  }
}

.other-card {
  img {
    border-radius: 11px;
    box-shadow: 0 1px 2px $color-shadow-dark;
    width: 100%;
  }

  &:hover {
    background: none;
  }
}

.card-container.foil::after,
.card-preview.foil::after {
  animation: foil 5s ease-in-out infinite;
  background: linear-gradient(120deg, $rainbow);
  background-size: 150% 150%;
  border-radius: 8px;
  content: '';
  height: 95%;
  left: 3.75%;
  mix-blend-mode: hard-light;
  opacity: 0.15;
  position: absolute;
  top: 2.5%;
  width: 92.5%;
}

.card-bg {
  position: fixed;
  z-index: $z-index-background;
  img {
    bottom: 0;
    filter: blur(15px) grayscale(100%);
    left: -4%;
    position: fixed;
    top: -35%;
    right: 0;
    width: 115%;
    z-index: $z-index-background; // Hacky z-index to push it to the background.
  }

  &::after {
    background: transparentize($color-background, 0.1);
    bottom: 0;
    content: '';
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $z-index-background; // Hacky z-index to push it to the background.
  }
}

.content > .card {
  animation: load-in 0.4s 1 backwards;
  background: tint($color-background, 6%);
  border: 1px solid tint($color-border-strong, 15%);
  border-radius: $border-radius;
  box-shadow: inset 0 -2px 0 $color-shadow,
              inset 0 0 2px $color-highlight,
              0 2px 1px $color-bevel;
  cursor: default;
  display: block;
  height: 630px;
  min-width: 0;
  outline: none;
  padding: 1rem;
  position: relative;
  transition: none;

  &::after {
    background: linear-gradient(to bottom, transparent, $color-primary);
    border-radius: $border-radius;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    opacity: 0.05;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity $transition;
  }

  &:hover { text-shadow: none; }
  &:hover::after { opacity: 0.1; }
  .grimoire-count {
    color: $color-text-weak;
    left: 0.35rem;
    position: absolute;
    top: 0.35rem;
  }

  .card-mana {
    background: transparentize($color-background, 0.5);
    box-shadow: inset 0 2px 2px $color-shadow;
    color: $color-text-weak;
    font-size: $font-size-sub;
    height: calc(33px - 0.5rem);
    margin: -1rem -1rem 1rem;
    padding: 0.5rem 1rem 0;
    text-align: right;
  }

  .title {
    color: $color-text;
    font-family: $font-family-display;
    font-size: $font-size-sub;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: none;
    white-space: nowrap;
  }

  .card-info {
    color: $color-text;
    display: block;
    height: 230px;
    -webkit-mask-image: linear-gradient(to top, transparent, $color-black 10%, $color-black);
    mask-image: linear-gradient(to top, transparent, $color-black 10%, $color-black);
    min-height: 0;
    padding-top: 1rem;
    position: relative;
    text-shadow: none;

    .mana.small {
      bottom: -2px;
      height: 0.79rem;
      position: relative;
      width: 0.79rem;

      &.sE {
        height: 0.7rem;
        width: 0.7rem;
        border-width: 1.25px;
        bottom: -3px;
      }
    }
  }

  .card-img {
    background: transparentize($color-background, 0.5);
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    height: 200px;
    margin-left: -1rem;
    overflow: hidden;
    position: relative;
    transition: transform $transition;
    width: calc(100% + 2rem);

    &::before {
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: $z-index-background; // Hack to push the background behind the image
    }

    img {
      bottom: 53px;
      left: -33px;
      position: relative;
      width: 328px;

      &::before {
        background: tint($color-background, 6%);
        border: 1px solid tint($color-border-strong, 15%);
        border-radius: $border-radius;
        box-shadow: inset 0 -2px 0 $color-shadow,
                    inset 0 0 2px $color-highlight,
                    0 2px 1px $color-shadow;
        content: ' ';
        display: block;
        height: 200px;
        left: 33px;
        position: absolute;
        top: 53px;
        width: 266px;
      }

      &::after {
        color: shade($color-text, 15%);
        content: attr(alt);
        display: block;
        font-family: $font-family-text;
        font-size: $font-size-default;
        left: 33px;
        position: absolute;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 0 $color-bevel;
        top: 600%;
        width: 268px;
      }
    }
  }

  .card-type {
    background: transparentize($color-background, 0.5);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.15);
    color: $color-text-weak;
    margin: 0 -1rem;
    margin-top: -0.3rem;
    padding: 1rem;
    padding-right: 2.5rem;
    position: relative;
    width: calc(100% - 1.5rem);

    .card-rarity {
      position: absolute;
      right: 0.5rem;
      top: 1rem;
    }
  }

  .card-text {
    margin-bottom: 0.25rem;
  }

  .card-text,
  .card-flavor {
    font-family: $font-family-text;
    font-size: $font-size-default;
    line-height: 1;
  }

  .power-toughness {
    background: transparentize($color-background, 0.5);
    bottom: 0;
    box-shadow: inset 0 2px 2px $color-shadow;
    color: $color-text-weak;
    font-family: $font-family-display;
    left: 0;
    padding: 0.5rem 1rem;
    position: absolute;
    text-align: right;
    width: calc(100% - 2rem);

    em {
      color: shade($color-text-weak, 30%);
      font-style: normal;
    }
  }

  .loyalty {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50px" height="31px" version="1" viewBox="0 0 444 270"><path d="M1327 458l-133-46 2-7a260 260 0 0 0-21-156 251 251 0 0 0-33-52l233-79 2 3c4 9 10 18 17 26 7 7 13 11 20 15 19 9 45 12 68 8a79 79 0 0 0 61-53l235 80-5 6a241 241 0 0 0-49 204v6l-264 91c-1 0-61-20-133-46z"/><path d="M129 238l-92-32 1-5A181 181 0 0 0 23 92 175 175 0 0 0 0 56L163 0l1 2c3 7 7 13 13 19 4 4 8 7 14 10 13 7 30 9 47 5a56 56 0 0 0 43-36l163 56-3 4a169 169 0 0 0-34 142v4l-185 64-93-32z"/><path fill="darkgray" d="M160 3L4 57a175 175 0 0 1 35 147l183 64 183-64c-6-32-4-67 8-99 6-17 16-34 28-48L282 3c-8 20-28 35-49 36-23 3-49-3-63-23l-8-13h-1z"/><path d="M151 18L23 61c26 39 37 88 30 135l169 58 170-59c-8-46 3-95 30-134L288 16c-18 30-58 42-90 32-17-5-33-16-42-32l-5 2z"/></svg>');
    background-repeat: no-repeat;
    bottom: 1rem;
    color: $color-text-weak;
    filter: drop-shadow(0 2px 2px $color-shadow-dark);
    font-family: $font-family-display;
    height: 31px;
    line-height: 34px;
    position: absolute;
    right: 1rem;
    text-align: center;
    width: 50px;
  }
  .tooltip {
    @include underline($color-text, tint($color-background, 5%));
  }

  .card-explanation .tooltip {
    @include underline(shade($color-text, 20%), tint($color-background, 5%));
  }
}

.card-explanation {
  color: shade($color-text, 20%);

  .tooltip,
  a {
    @include underline(shade($color-text, 20%), tint($color-background, 5%));
    color: shade($color-text, 20%);
  }
}

.card-details {
  margin-top: 2rem;
}

.no-results {
  h1 {
    margin-bottom: 0;
    margin-top: 2rem;
  }
}
