// Common Deck Elements

.stats {
  // The display for comments and likes
  .edit {
    margin-right: 0.5rem;
    svg {
      cursor: pointer;
      fill: $color-text-weak;
      height: 20px;
      position: relative;
      top: 4px;
      transition: fill $transition / 2, stroke $transition / 2;
      width: 20px;
    }
    &:hover {
      background: none;
      svg {
        fill: $color-text;
      }
    }
  }
  .delete {
    svg {
      cursor: pointer;
      fill: $color-text-weak;
      height: 20px;
      position: relative;
      top: 3px;
      transition: fill $transition / 2, stroke $transition / 2;
      width: 20px;
    }
    &:hover {
      background: none;
      svg {
        fill: $color-text;
      }
    }
  }
  .likes,
  .comments,
  .export {
    color: $color-text;
    display: inline-block;
    margin-right: 0.5rem;
    margin-top: 1.25rem;
    opacity: 0.8;
    position: relative;
    text-decoration: none;

    svg {
      cursor: pointer;
      fill: transparent;
      height: 20px;
      position: relative;
      stroke: $color-text;
      stroke-width: 50px;
      top: 6px;
      transition: fill $transition / 2, stroke $transition / 2;
      width: 20px;
    }

    &:hover {
      background: none;

      svg { fill: $color-text; }
    }

    &:focus svg,
    &:active svg {
      fill: $color-primary;
      stroke: $color-primary;
    }
  }

  .export svg { fill: $color-text; }
}

.color-bar {
  // Color-bars indicate the color makeup of a deck
  background: $color-background;
  bottom: 0;
  box-shadow: 0 0 2px shade($color-background, 10%);
  height: 120px;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-shadow: 0 1px 0 $color-shadow;
  top: 0;
  transform: translateX(-63px);
  transition: transform $transition / 2 cubic-bezier(0.17, 0.67, 0.83, 0.67);
  width: 66px;
  z-index: $z-index-baseline; // Make sure the color bar appears above the card image

  span {
    // Hacky span for the text in the color-bar so that we don't animate
    // anything but opacity and transform
    color: $color-text;
    opacity: 0;
    transition: opacity $transition $transition / 2;
  }

  &:hover {
    transform: translateX(0);
    span { opacity: 1; }
  }

  .mana {
    position: relative;
    top: 2px;
  }

  div {
    // Centering text inside the color-bar segments
    align-items: center;
    color: $color-text;
    display: flex;
    justify-content: center;
    overflow: hidden;
    user-select: none;
  }

  .w { @include color-bar($color-mtg-w) }
  .u { @include color-bar($color-mtg-u) }
  .r { @include color-bar($color-mtg-r) }
  .b { @include color-bar($color-mtg-b) }
  .g { @include color-bar($color-mtg-g) }
  .c { @include color-bar($color-mtg-c) }
}

// Deck tiles
// These styles are specific to the deck tiles that show up in searches or on
// card pages

.demo .deck:first-child {
  .deck-img,
  .deck-info {
    @include demo(demo-slide);
  }

  .color-bar {
    @include demo(demo);

    span {
      @include demo(demo-fade);
    }
  }
}

.deck.gallery {
  background: tint($color-background, 3%);
  border: 1px solid tint($color-border-strong, 15%);
  border-radius: $border-radius;
  box-shadow: inset 0 -2px 0 $color-shadow,
              inset 0 0 2px $color-highlight,
              0 2px 1px $color-bevel;
  cursor: pointer;
  height: 120px;
  overflow: hidden;
  position: relative;
  transition: none;
  white-space: nowrap;

  &::after {
    background: linear-gradient(to bottom, transparent, $color-primary);
    border-radius: $border-radius;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    opacity: 0.05;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity $transition;
  }

  &:hover::after { opacity: 0.1; }
  .color-bar:hover {
    ~ .deck-info,
    ~ .deck-img {
      transform: translateX(63px);
    }
  }

  .deck-info {
    color: $color-text;
    display: inline-block;
    padding: 0.5rem;
    text-overflow: ellipsis;
    text-shadow: none;
    transition: transform $transition / 2 cubic-bezier(0.17, 0.67, 0.83, 0.67);
    vertical-align: top;
    width: calc(100% - 195px);

    .title {
      font-family: $font-family-display;
      font-size: $font-size-sub;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .tags {
      margin-top: 0.5rem;
      -webkit-mask-image: linear-gradient(to right, $color-black 0%, $color-black 90%, transparent 100%);
      mask-image: linear-gradient(to right, $color-black 0%, $color-black 90%, transparent 100%);
      max-width: 100%;
      overflow: hidden;
      width: 100%;

      .author,
      .tag { margin-right: 0.2rem; }

      .tag { opacity: 0.5; }
    }
  }

  .deck-img {
    background: transparentize($color-background, 0.5);
    display: inline-block;
    height: 120px;
    margin-left: 1px;
    overflow: hidden;
    position: relative;
    transition: transform $transition / 2 cubic-bezier(0.17, 0.67, 0.83, 0.67);
    width: 165px;

    &::before {
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    img {
      bottom: 40px;
      left: -25px;
      position: relative;
      width: 219px;
    }
  }

  .stats {
    .likes,
    .comments,
    .export {
      &:hover svg,
      &:active svg {
        fill: transparent;
        stroke: $color-text;
      }
    }
  }
}

.content > .deck.gallery {
  animation: load-in 0.2s 1 backwards;
}

// Deck tiles in the builder
.sidebar .deck.gallery {
  display: block;
  margin-bottom: 1rem;

  .deck-info {
    width: 100%;
  }
}

// Deck page
// These styles are specific to deck.html

.deck-header {
  background: tint($color-background, 3%);
  border-radius: $border-radius;
  box-shadow: 0 1px 2px shade($color-background, 15%);
  height: 162px;
  overflow: hidden;
  position: relative;
  z-index: $z-index-baseline; // Ensure that color-bar gets border-radius of deck-header

  .color-bar {
    height: 162px;

    &:hover {
      + hgroup,
      ~ .deck-img { transform: translateX(65px); }
    }
  }

  .deck-img {
    height: 385px;
    left: -30px;
    -webkit-mask-image: linear-gradient(to right, $color-black 0%, transparent 92%, transparent 100%);
    mask-image: linear-gradient(to right, $color-black 0%, transparent 92%, transparent 100%);
    pointer-events: none;
    position: relative;
    top: -47px;
    transition: transform $transition / 2;
    transition-timing-function: ease-in-out;
  }

  hgroup {
    bottom: 1rem;
    left: 1rem;
    position: absolute;
    text-shadow: 0 2px 2px $color-shadow;
    transition: transform $transition / 2;
    transition-timing-function: ease-in-out;
    width: calc(100% - 200px);
    z-index: $z-index-baseline; // Make sure deck info shows up above card image

    h1,
    h2 { margin: 0; }

    h1 {
      font-style: italic;
      line-height: 0.8;
      margin-bottom: 0.5rem;
      max-width: 70%;
    }

    h2 {
      font-weight: normal;
      opacity: 0.8;
    }
  }

  .deck-info {
    bottom: 1rem;
    position: absolute;
    right: 1rem;
    text-align: right;
    .date-created { opacity: 0.5; }
    .date-updated { opacity: 0.8; }
    .stats {
      margin-bottom: 1rem;
      :last-child { margin-right: 0; }
    }
  }
}

.demo .deck-header {
  .color-bar {
    @include demo(demo);
    span { @include demo(demo-fade); }
  }

  .deck-img {
    @include demo(demo-slide);
  }

  hgroup {
    @include demo(demo-slide);
  }
}

.deck-contents {
  // These will need to be modified to allow for different formats
  // (e.g. Commander/EDH)
  padding: 2rem 0;
  columns: 3;
  li { font-size: $font-size-sub; }
  h2 { font-family: $font-family-display; font-style: italic; margin-top: 0; }

  .sideboard {
    background: shade($color-background, 10%);
    border-radius: ($border-radius * 2.5);
    box-shadow: inset 1px 0 1px shade($color-background, 25%);
    margin-top: 0.7rem;
    padding: 1rem;
    h2 { margin-top: 0; }
  }

  .card-type {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .card-type,
  .sideboard {
    &:hover .color-bar {
      opacity: 1;
      transform: scaleX(1);

      div span { opacity: 1; }
    }

    div {
      display: inline-block;
      text-align: right;
      font-feature-settings: "tnum", "lnum";
    }

    .color-bar {
      border-radius: $border-radius;
      height: 20px;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      opacity: 0;
      position: relative;
      transform: scaleX(0);
      width: 100%;

      div {
        display: inline-block;
        height: 20px;
        margin-right: -4px;
        text-align: center;
      }
    }
  }
}

.deck-description {
  margin-bottom: 4rem;

  p {
    font-family: $font-family-text;
    font-size: $font-size-lead;
    max-width: 900px;
  }
}

.count { color: $color-text-weak; }

.card-costs,
.mana-available {
  width: 100%;
  a { text-align: center; }
}

// Comments
// On deck.html (users can only comment on decks)

.comment {
  border-bottom: 2px solid shade($color-border, 60%);
  padding: 1rem;
  border-radius: $border-radius;
  background: tint($color-background, 2.5%);
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px $color-shadow;

  .date {
    color: shade($color-text-weak, 35%);
    font-size: 0.833rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  em { color: $color-text-weak; }
  .username { color: $color-text; }
  p {
    font-family: $font-family-text;
    font-size: $font-size-sub;
  }
}

.discussion { max-width: 900px; }

.commander-img {
  img {
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.33);
  }

  &:visited, &:active, &:focus, &:hover {
    background: none;
    outline: none;
  }
}