// Common form elements

// For the most part inputs and textareas should be styled similarly
input[type='text'], input[type="email"], input[type="search"], textarea {
	display: inline-block;
	padding: 0.5rem 0.7rem;
	margin-right: 6px;
	margin-bottom: 10px;
	width: 77px;
	background: none;
	border: 1px solid $color-border;
	border-radius: $border-radius;
	color: $color-text-weak;
	font-family: $font-family-text;
	font-size: 1rem;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	-webkit-transition: $transition;
					transition: $transition;
	-webkit-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
	&:focus {
		outline: none;
	}
}

// Input groups
// These are currently only used to indicate currency when searching
.input-group {
	display: inline-block;
	margin-right: 6px;
	input {
		margin-right: 0;
		&:last-child {
			border-left: 0;
		}
	}
}

.input-group-addon {
	display: inline-block;
	margin-right: -4px;
	padding-right: 0;
	border-radius: $border-radius;
	border: 1px solid $color-border;
	padding: 0.5rem 0.7rem;
	cursor: default;
	pointer-events: none;
	vertical-align: top;
	-webkit-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
}

.input-group-addon:not(:last-child) {
	border-right: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

// Search bar styles
// For the large search bar at the top of the Search page

.search {
	input {
		margin-right: -4px;
		// This width is kind of a mess
		width: calc(100% - 1.5rem - 100px);
		background: tint($color-background, 3%);
		border-color: rgba($color-primary, 0.25);
		border-radius: $border-radius 0 0 $border-radius;
		box-shadow: inset 0 0 6px shade($color-background, 2.5%);
		color: $color-text;
		font-size: 1.33rem;
		&:focus {
			background: $color-background;
			border-color: rgba($color-primary, 0.5);
			box-shadow: inset 0 4px 8px shade($color-background, 7.5%);
		}
	}
	a.btn {
		height: 27px;
		width: 73px;
		margin-right: 0;
		background: tint($color-background, 3%);
		border-color: rgba($color-primary, 0.25);
		border-radius: 0 $border-radius $border-radius 0;
		box-shadow: inset 0 0 6px shade($color-background, 2.5%);
		font-size: 1.33rem;
		text-align: center;
		&:hover {
			border-color: rgba($color-primary, 0.35);
		}
		&:active {
			background: $color-background;
			border-color: rgba($color-primary, 0.5);
			box-shadow: inset 0 4px 8px shade($color-background, 7.5%);
		}
	}
}

// Textareas are currently only used for comments; changes will have to be
// made for other uses

textarea {
	display: block;
	width: calc(100% - 1.5rem);
	resize: none;
	color: $color-text;
	border-radius: $border-radius $border-radius 0 0;
	white-space: normal;
	font-size: 1.2rem;
	&:focus {
		border-color: tint($color-border, 50%);
	}
	&:focus + .submit {
		border-color: tint($color-border, 50%);
	}
}

.submit {
	background: shade($color-border, 60%);
	border-radius: 0 0 $border-radius $border-radius;
	margin-top: -1rem;
	margin-bottom: 1rem;
	padding: 0.5rem;
	border: 1px solid $color-border;
	border-top: none;
	transition: $transition;
	.btn {
		margin-bottom: 0;
	}
}