/* Common form elements*/

/* For the most part inputs and textareas should be styled similarly*/
input[type='text'], 
input[type="email"], 
input[type="search"], 
input[type="number"], 
textarea {
	display: inline-block;
	padding: 0.5rem 0.7rem;
	margin-right: 6px;
	margin-bottom: 10px;
	width: 115px;
	background: tint($color-background, 2%);
	border: 1px solid  rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
					box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
	color: shade($color-text-weak, 15%);
	border-radius: $border-radius;
	font-family: $font-family-text;
	font-size: 1rem;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	-webkit-transition: border-color $transition;
					-webkit-transition: border-color $transition, background $transition;
					transition: border-color $transition, background $transition;
	-webkit-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
	&.block {
		width: calc(100% - 1.4rem);
	}
	&:focus {
		outline: none;
		background: tint($color-background, 4%);
	}
	&::-webkit-input-placeholder {
		color: shade($color-text-weak, 20%);
		-webkit-transition: color $transition;
		transition: color $transition;
	}
	&:focus::-webkit-input-placeholder {
		color: shade($color-text, 20%);
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
}

select, select.btn {
	-moz-appearance: none;
	-webkit-appearance: none;
	background: tint($color-background, 6%) url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333333' stroke='%23ababab' stroke-width='0.5' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
	background-size: 10px 12px;
	padding-right: calc(10px + 1.4rem);
	&:hover, &:focus {
		background: tint($color-background, 6%) url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333333' stroke='%23f7f7f7' stroke-width='0.5' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
		background-size: 10px 12px;
	}
}

/* Input groups*/
/* These are currently only used to indicate currency when searching*/
.input-group {
	display: inline-block;
	margin-right: 6px;
	input {
		margin-right: 0;
		width: 89px;
		&:last-child {
			border-left: 0;
		}
	}
}

.input-group-addon {
	display: inline-block;
	margin-right: -4px;
	padding-right: 0;
	border-radius: $border-radius;
	border: 1px solid $color-border;
	padding: 0.5rem 0.5rem;
	cursor: default;
	pointer-events: none;
	vertical-align: top;
	border: 1px solid shade($color-border, 75%);
	background: tint($color-background, 4%);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
					box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
	-webkit-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
	+ input[type="text"] {
		border-radius: 0 $border-radius $border-radius 0;
	}
	&:not(:last-child) {
		border-right: 0;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
	}
}

/* Search bar styles*/
/* For the large search bar at the top of the Search page*/

.search {
	input {
		margin-right: -4px;
		/* This width is kind of a mess*/
		width: calc(100% - 1.5rem - 100px);
		background: tint($color-background, 3%);
		border-color: rgba($color-primary, 0.25);
		border-radius: $border-radius 0 0 $border-radius;
		-webkit-box-shadow: inset 0 0 6px shade($color-background, 2.5%);
						box-shadow: inset 0 0 6px shade($color-background, 2.5%);
		color: $color-text;
		font-size: 1.33rem;
		&:focus {
			background: $color-background;
			border-color: rgba($color-primary, 0.5);
			-webkit-box-shadow: inset 0 4px 8px shade($color-background, 7.5%);
							box-shadow: inset 0 4px 8px shade($color-background, 7.5%);
		}
	}
	a.btn {
		height: 27px;
		width: 73px;
		margin-right: 0;
		background: tint($color-background, 3%);
		border-color: rgba($color-primary, 0.25);
		border-radius: 0 $border-radius $border-radius 0;
		-webkit-box-shadow: inset 0 0 6px shade($color-background, 2.5%);
						box-shadow: inset 0 0 6px shade($color-background, 2.5%);
		font-size: 1.33rem;
		text-align: center;
		&:hover {
			border-color: rgba($color-primary, 0.35);
		}
		&:active {
			background: $color-background;
			border-color: rgba($color-primary, 0.5);
			-webkit-box-shadow: inset 0 4px 8px shade($color-background, 7.5%);
							box-shadow: inset 0 4px 8px shade($color-background, 7.5%);
		}
	}
}

/* Checkboxes */

input[type="checkbox"], input[type="radio"] {
	position: absolute;
	left: -9999px;
	+ label {
		position: relative;
		padding-left: 1.75rem;
		line-height: 24px;
		-webkit-transition: color $transition;
		transition: color $transition;
		color: $color-text-weak;
		cursor: pointer;
		-webkit-user-select: none;
			 -moz-user-select: none;
				-ms-user-select: none;
						user-select: none;
		&:hover { color: $color-text; }
		/* Checkbox background*/
		&::before {
			content: '';
			position: absolute;
			left: 0; 
			top: 0;
			width: 20px; 
			height: 20px;
			border-radius: $border-radius;
			background: tint($color-background, 2%);
			border: 1px solid rgba(0, 0, 0, 0.25);
			-webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.25);
							box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.25);
		}
		/* Checkbox check*/
		&::after {
			content: '✕';
			position: absolute;
			top: 0.1rem; 
			left: 0.25rem;
			font-size: 1rem;
			color: $color-text-weak;
			-webkit-transition: opacity $transition, -webkit-transform $transition;
			transition: opacity $transition, -webkit-transform $transition;
			transition: transform $transition, opacity $transition;
			transition: transform $transition, opacity $transition, -webkit-transform $transition;
			opacity: 0;
			-webkit-transform: scale(0);
							transform: scale(0);
		}
	}
	/* When the checkbox is checked, show the check*/
	&:checked + label {
		color: $color-text;
		&::after {
		opacity: 1;
		-webkit-transform: scale(1);
						transform: scale(1);
		}
	}
}

/* Radio buttons work the same as checkboxes, but using a bullet instead of*/
/* a multiplication symbol*/
input[type="radio"] + label::after {
	content: '•';
	top: -0.1rem;
	left: 0.125rem;
	font-size: 4rem;
}

/* Textareas are currently only used for comments; changes will have to be*/
/* made for other uses*/

textarea {
	display: block;
	width: calc(100% - 1.5rem);
	resize: none;
	color: $color-text;
	border-radius: $border-radius;
	white-space: normal;
	font-size: 1.2rem;
	&:focus {
		border-color: shade($color-border, 60%);
		+ .submit {
			border-color: shade($color-border, 60%);
		}
	}
}

.submit {
	border-radius: 0 0 $border-radius $border-radius;
	background: none;
	margin-top: -1rem;
	margin-bottom: 1rem;
	padding: 1rem 0 0.5rem 0;
	-webkit-transition: border-color $transition;
					transition: border-color $transition;
	.btn {
		margin-bottom: 0;
		margin-right: 0;
	}
}