/* Common form elements*/

/* For the most part inputs and textareas should be styled similarly*/
input[type='text'], input[type="email"], input[type="search"], textarea {
	display: inline-block;
	padding: 0.5rem 0.7rem;
	margin-right: 6px;
	margin-bottom: 10px;
	width: 77px;
	background: tint($color-background, 2%);
	border: 1px solid  rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
	color: shade($color-text-weak, 15%);
	border-radius: $border-radius;
	font-family: $font-family-text;
	font-size: 1rem;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	-webkit-transition: border-color $transition;
					transition: border-color $transition, background $transition;
	-webkit-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
	&:focus {
		outline: none;
		background: tint($color-background, 4%);
	}
	&::-webkit-input-placeholder {
		color: $color-text-weak;
		transition: color $transition;
	}
	&:focus::-webkit-input-placeholder {
		color: $color-text;
	}
}

select, select.btn {
	-moz-appearance: none;
	-webkit-appearance: none;
	background: tint($color-background, 6%) url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333333' stroke='%23ababab' stroke-width='0.5' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
	background-size: 10px 12px;
	padding-right: calc(10px + 1.4rem);
	&:hover, &:focus {
		background: tint($color-background, 6%) url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333333' stroke='%23f7f7f7' stroke-width='0.5' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
		background-size: 10px 12px;
	}
}

/* Input groups*/
/* These are currently only used to indicate currency when searching*/
.input-group {
	display: inline-block;
	margin-right: 6px;
	// Hiding labels in input-groups completely as we use placeholder text
	label {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	input {
		margin-right: 0;
		&:last-child {
			border-left: 0;
		}
	}
}

.input-group-addon {
	display: inline-block;
	margin-right: -4px;
	padding-right: 0;
	border-radius: $border-radius;
	border: 1px solid $color-border;
	padding: 0.5rem 0.5rem;
	cursor: default;
	pointer-events: none;
	vertical-align: top;
	border: 1px solid shade($color-border, 75%);
	background: tint($color-background, 4%);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
	-webkit-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
	+ input[type="text"] {
		border-radius: 0 $border-radius $border-radius 0;
	}
	&:not(:last-child) {
		border-right: 0;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
	}
}

/* Search bar styles*/
/* For the large search bar at the top of the Search page*/

.search {
	input {
		margin-right: -4px;
		/* This width is kind of a mess*/
		width: calc(100% - 1.5rem - 100px);
		background: tint($color-background, 3%);
		border-color: rgba($color-primary, 0.25);
		border-radius: $border-radius 0 0 $border-radius;
		box-shadow: inset 0 0 6px shade($color-background, 2.5%);
		color: $color-text;
		font-size: 1.33rem;
		&:focus {
			background: $color-background;
			border-color: rgba($color-primary, 0.5);
			box-shadow: inset 0 4px 8px shade($color-background, 7.5%);
		}
	}
	a.btn {
		height: 27px;
		width: 73px;
		margin-right: 0;
		background: tint($color-background, 3%);
		border-color: rgba($color-primary, 0.25);
		border-radius: 0 $border-radius $border-radius 0;
		box-shadow: inset 0 0 6px shade($color-background, 2.5%);
		font-size: 1.33rem;
		text-align: center;
		&:hover {
			border-color: rgba($color-primary, 0.35);
		}
		&:active {
			background: $color-background;
			border-color: rgba($color-primary, 0.5);
			box-shadow: inset 0 4px 8px shade($color-background, 7.5%);
		}
	}
}

/* Textareas are currently only used for comments; changes will have to be*/
/* made for other uses*/

textarea {
	display: block;
	width: calc(100% - 1.5rem);
	resize: none;
	color: $color-text;
	border-radius: $border-radius $border-radius 0 0;
	white-space: normal;
	font-size: 1.2rem;
	&:focus {
		border-color: tint($color-border, 50%);
	}
	&:focus + .submit {
		border-color: tint($color-border, 50%);
	}
}

.submit {
	background: shade($color-border, 60%);
	border-radius: 0 0 $border-radius $border-radius;
	margin-top: -1rem;
	margin-bottom: 1rem;
	padding: 0.5rem;
	border: 1px solid $color-border;
	border-top: none;
	-webkit-transition: border-color $transition;
					transition: border-color $transition;
	.btn {
		margin-bottom: 0;
	}
}