::-moz-selection {
	background: $color-primary;
}

::selection {
	background: $color-primary;
}

html {
	font-size: 18px;
}

body {
	background: $color-background;
	color: $color-text;
	font-family: $font-family-text;
	font-size: 1rem;
	font-variant-numeric: lining-nums;
	-webkit-font-feature-settings: 'lnum', 'dlig';
					font-feature-settings: 'lnum', 'dlig';
	-webkit-font-smoothing: antialiased;
	-webkit-font-variant-ligatures: discretionary-ligatures;
					font-variant-ligatures: discretionary-ligatures;
}

nav {
	margin-bottom: 1rem;
	margin-top: 3rem;
	.btn, 
	a.btn, 
	button {
		&:last-child {
			margin-right: 0;
		}
	}
	a.btn.nav-search {
		svg {
			position: relative;
			top: 0.25rem;
			width: 20px;
			height: 20px;
			fill: $color-primary;
			-webkit-transition: fill 0.2s;
							transition: fill 0.2s;
		}
		&:hover svg {
			fill: shade($color-primary, 15%);
		}
	}
	svg {
		fill: $color-text;
		width: 168px;
		shape-rendering: "optimizeQuality" 
	}
	> a:first-child:hover {
		background: none;
	}
}

aside {
	display: inline-block;
	width: 280px;
	margin-right: 44px;
	&:last-child {
		margin-left: 44px;
		margin-right: 0;
	}
	> h3:first-child {
		margin-top: 0.6rem;
	}
	h3 {
		font-family: $font-family-text;
		font-weight: normal;
	}
}

section {
	display: inline-block;
	width: 952px;
	vertical-align: top;
}

footer {
	padding: 3rem 0;
	margin-top: 3rem;
	background: tint($color-background, 2.5%);
	border-top: 1px solid tint($color-background, 5%);
	box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.15);
	color: rgba($color-text, 0.75);
	text-align: center;
	a {
		color: $color-text;
		&:hover {
			@include underline(rgba($color-text, 0.75), $color-background);
		}
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $font-family-display;
	font-weight: bold;
}

h3 {
	font-size: 1.33rem;
}

a {
	color: $color-primary;
	text-decoration: none;
	&:hover {
		@include underline($color-primary, $color-background);
	}
	&:active {
		@include underline(shade($color-primary, 5%), $color-background)
		color: shade($color-primary, 5%);
	}
	&::-moz-selection {
		color: $color-text;
		&:hover {
			background: none;
			text-shadow: none;
		}
	}
	&::selection {
		color: $color-text;
		&:hover {
			background: none;
			text-shadow: none;
		}
	}
}

hr {
	border-top: 1px solid $color-background-tint;
	border-bottom: 0;
}

label {
	display: inline-block;
	width: calc(50% - 2rem);
	margin-right: 2rem;
	opacity: 0.7;
	vertical-align: top;
}

p {
	font-family: $font-family-display;
	font-weight: 300;
}

.card-img {
	border-radius: 7px;
}

/* Magic colors*/

.u { color: $color-mtg-u }
.w { color: $color-mtg-w }
.r { color: $color-mtg-r }
.g { color: $color-mtg-g }
.b { color: $color-mtg-b }

/* Utility classes*/

.pull-left   { float: left; }
.pull-right  { float: right; }
.clearfix    { @include clearfix; }

.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }

.list-unstyled {
	list-style: none; 
	padding-left: 0;
}

.mana.small {
	width: 0.888rem;
	height: 0.888rem;
}

.mana.medium {
	width: 1.4rem;
	height: 1.4rem;
}

/* Lists*/

ul.cards-info {
	margin-bottom: 3rem;
	margin-top: 3rem;
	-webkit-column-count: 3;
		 -moz-column-count: 3;
					column-count: 3;
	-webkit-column-gap: 1rem;
		 -moz-column-gap: 1rem;
					column-gap: 1rem;
	-webkit-column-rule: solid $color-background-tint 1px;
		 -moz-column-rule: solid $color-background-tint 1px;
					column-rule: solid $color-background-tint 1px;
}

.value {
	display: inline-block;
	width: calc(50% - 1rem);
}

/* Pagination*/

.pagination {
	margin-top: 3rem;
	.next {
		margin-right: 0;
	}
	.current-page {
		position: relative;
		font-family: $font-family-display;
		font-size: 1.5rem;
		width: 100px;
		margin: auto;
		pointer-events: none;
		-webkit-user-select: none;
			 -moz-user-select: none;
				-ms-user-select: none;
						user-select: none;
		&:before {
			content: '';
			position: absolute;
			top: -2px;
			right: 31px;
			width: 37px;
			height: 37px;
			border: 1px solid $color-primary;
			-webkit-transform: rotate(45deg);
							transform: rotate(45deg);
		}
		&:after {
			content: 'Page';
			position: absolute;
			top: 45px;
			right: 35px;
			color: $color-text-weak;
			font-size: 1rem;
			font-family: $font-family-text;
		}
	}
}