// Styles that are used throughout the application

// Style elements (usually text) when selected by user
::-moz-selection {
  background: tint($color-background, 35%);
  color: transparentize($color-text, 0.3);
}

::selection {
  background: tint($color-background, 35%);
  color: transparentize($color-text, 0.3);
}

html {
  // Setting a base font-size. All other font-sizes should be in rems
  // (multiples of this font-size)
  font-size: $font-size;
}

body {
  background: $color-background;
  color: $color-text;
  font-family: $font-family-text;
  font-feature-settings: 'lnum', 'dlig';
  font-size: $font-size-default;
  // Opentype options
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-variant-ligatures: discretionary-ligatures;
}

.lead {
  font-size: $font-size-lead;
}

.sidebar {
  // Sidebars for search filters or card/deck info
  display: inline-block;
  width: 280px;

  + .content {
    margin-top: 2rem;
  }

  > h3:first-child {
    // Making sure things line up with the main content
    margin-top: 0.6rem;
  }
}

.content {
  // Main content section
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 356px - 2rem);
  > p {
    max-width: 900px;
  }
  h1 { margin-top: 0; }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family-display;
  font-weight: bold;
}

h1 {
  font-size: $font-size-h1;
  font-style: italic;
  // Styling the brew icon on the builder page
  svg {
    bottom: -3px;
    fill: $color-text;
    float: left;
    height: $font-size-h1;
    max-width: $font-size-h1;
    position: relative;
    margin-right: 0.5rem;
  }
}

h2 { font-size: $font-size-h2; }


h3 {
  color: $color-text-weak;
  font-family: $font-family-text;
  font-size: $font-size-h3;
  font-weight: normal;
  // Emphasis for the card's name on the card page
  em {
    color: $color-text;
  }
}

a {
  color: $color-primary;
  text-decoration: none;
  transition: color $transition;

  &:hover {
    @include underline(shade($color-primary, 15%), $color-background);
    color: shade($color-primary, 15%);
  }

  &:active {
    @include underline(shade($color-primary, 25%), $color-background);
    color: shade($color-primary, 25%);
  }
  // Removing some link styles when they're selected by the user
  &::-moz-selection { color: transparentize($color-primary, 0.3); }
  &::selection { color: transparentize($color-primary, 0.3); }
  &:hover::-moz-selection { text-shadow: none; }
  &:hover::selection { text-shadow: none; }
}

label {
  display: block;
}

// Magic colors
// These classes are used to easily color text referring to the five Magic
// colors

.u { color: $color-mtg-u; }
.w { color: $color-mtg-w; }
.r { color: $color-mtg-r; }
.g { color: $color-mtg-g; }
.b { color: $color-mtg-b; }

// Utility classes

// Easily float elements or clear those floats with these classes
.pull-left,
%pull-left { float: left; }

.pull-right,
%pull-right { float: right; }

.clearfix    { @include clearfix; }

// Text alignment classes; justify is not used
.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }

ul {
  list-style-type: '◆ ';
   ul {
    list-style-type: '◇ ';
  }
}

// Remove all styling (bullets or numbers) from a ul or ol element
.list-unstyled {
  list-style: none;
  padding-left: 0;
}

// Adjustments to the sizes of mana symbols; see _mana.scss
.mana {
  color: transparent;

  &.small {
    height: 0.888rem;
    width: 0.888rem;
  }

  &.medium {
    height: 1.333rem;
    width: 1.333rem;

    // Styles specific to Energy counters to make them look similar to colorless
    // mana for consistency.
    &.sE {
      background-color: $color-mtg-c;
      background-position: 88.75% 81.75%;
      border: 2.25px solid $color-mtg-c;
      border-radius: 100%;
      height: 1rem;
      line-height: 1.1;
      width: 1rem;
    }
  }

  // Removing some styles from selected mana symbols
  &::-moz-selection { background: initial; color: transparent; }
  &::selection      { background: initial; color: transparent; }
}

// Set symbols
.ss-common { -webkit-text-stroke: 0.03em $color-text; }
.ss-rare.ss-grad,
.ss-uncommon.ss-grad,
.ss-mythic.ss-grad { -webkit-text-stroke: 0.03em $color-border-strong; }

// Improve performance by removing animations, shadows, gradients, and masks

.low-graphics {
  *,
  *::before,
  *::after {
    animation: none !important;
    box-shadow: none !important;
    -webkit-mask-image: none !important;
    mask-image: none !important;
    text-shadow: none !important;
    transition: none !important;
  }

  .deck::after,
  .card::after,
  .card-bg {
    display: none !important;
  }
}
