
// Grid styles
// We will probably need a more comprehensive grid system than this eventually
// Look into CSS Grid Layout

.container {
  display: grid;
  grid-template-columns: calc(300px + 3rem) 100%;
  margin-left: 100px;
  margin-top: 59px;
  overflow: hidden;
  width: calc(100% - 100px);
}

.container {
  margin-left: 100px;
  margin-top: 59px;
  overflow: hidden;
  width: calc(100% - 100px);

  .container {
    margin: 0;
    width: 100%;
  }

  &.settings {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
  }
}

.column {
  display: inline-block;
  vertical-align: top;
}