
// Grid styles
// We will probably need a more comprehensive grid system than this eventually

.container {
  width:  calc(100% - 100px);
  margin-left: 100px;
  margin-top: 59px;
  .container {
    width: 100%;
    margin: 0;
  }
}

.column {
  width: calc(50% - 1.1rem);
  display: inline-block;
  vertical-align: top;
  &:first-child {
    margin-right: 2rem;
  }
}

.row {
  margin: 0 -0.5rem;
}
