
// Grid styles
// We will probably need a more comprehensive grid system than this eventually

.container {
  margin-left: 100px;
  margin-top: 59px;
  width: calc(100% - 100px);

  .container {
    margin: 0;
    width: 100%;
  }
}

.column {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 1.1rem);

  &:first-child {
    margin-right: 2rem;
  }
}

.row {
  margin: 0 -0.5rem;
}
