
// Buttons mixin
// Generates some fairly simple button styles, and their hover and active
// states.

@mixin btn($color) {
	$color-tint: tint($color, 15%);
	$color-shade: shade($color, 75%);
	color: $color;
	border-color: $color;
	&:hover {
		color: $color-tint;
		border-color: $color-tint;
		background: $color-shade;
	}
	&:active {
		color: $color-tint;
		border-color: $color-tint;
	}
}

// Underline mixin, borrowed from Medium

@mixin underline($color-text, $color-background) {
					 background: -webkit-linear-gradient($color-background,$color-background),
											 -webkit-linear-gradient($color-background,$color-background),
											 -webkit-linear-gradient($color-text,$color-text);
					 background: linear-gradient($color-background,$color-background),
											 linear-gradient($color-background,$color-background),
											 linear-gradient($color-text,$color-text);
			background-size: .05em 1px,
											 .05em 1px,
											 1px 1px;
		background-repeat: no-repeat,
											 no-repeat,
											 repeat-x;
	background-position: 0 89%,
											 100% 89%,
											 0 89%;
					text-shadow: 0.03em 0 $color-background, 
											 -0.03em 0 $color-background, 
											 0 0.03em $color-background, 
											 0 -0.03em $color-background, 
											 0.06em 0 $color-background, 
											 -0.06em 0 $color-background, 
											 0.09em 0 $color-background, 
											 -0.09em 0 $color-background, 
											 0.12em 0 $color-background, 
											 -0.12em 0 $color-background, 
											 0.15em 0 $color-background, 
											 -0.15em 0 $color-background;
}

// Demo animation mixin for color-bar

@mixin demo-mixin($animation-name) {
	-webkit-animation-name: $animation-name;
					animation-name: $animation-name;
	-webkit-animation-duration: 1s;
					animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
					animation-iteration-count: 1;
	-webkit-animation-timing-function: cubic-bezier(0.17,0.67,0.83,0.67);
					animation-timing-function: cubic-bezier(0.17,0.67,0.83,0.67);
}

/// Helper to clear inner floats
/// @author Nicolas Gallagher
/// @link http://nicolasgallagher.com/micro-clearfix-hack/ Micro Clearfix
@mixin clearfix {
	&::after {
		display: table;
		content: '';
		clear: both;
	}
}

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
	@return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
	@return mix(black, $color, $percentage);
}