// Pagination

.prev,
.next,
.first,
.last,
.current-page {
  .text {
    display: block;
    right: 0;
    text-align: center;
    text-shadow: 0 1px 0 $color-shadow-dark;
    width: 100%;
  }

  &::before {
    // Diamond decoration
    background: tint($color-background, 6%);
    border: 1px solid tint($color-border-strong, 15%);
    border-radius: $border-radius;
    box-shadow: inset -2px -2px 0 $color-bevel,
                inset 0 0 2px $color-highlight,
                0 0 1px $color-shadow;
    content: '';
    height: 37px;
    position: absolute;
    right: 8px;
    top: -2px;
    transform: rotate(45deg);
    transition: background $transition;
    width: 37px;
  }
}

.prev,
.next,
.first,
.last {
  color: $color-text;
  display: block;
  font-family: $font-family-display;
  font-size: $font-size-lead;
  left: 0;
  line-height: 1.25;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 0;
  transition: transform $transition/2 ease-out;
  width: 55.15px;
  z-index: $z-index-baseline;

  &:hover {
    background: none;

    .text {
      color: $color-text;
      text-shadow: none;
      user-select: none;
    }

    &::before {
      background: tint($color-background, 10%);
    }
  }

}


.pagination {
  height: 55.15px;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
  position: relative;
  width: 55.15px;

  .text {
    position: relative;
    z-index: $z-index-paging-text;
  }

  .current-page {
    font-family: $font-family-display;
    font-size: $font-size-lead;
    line-height: 1.25;
    margin: auto;
    pointer-events: none;
    position: relative;
    text-align: center;
    user-select: none;
    width: 55.15px;
    z-index: $z-index-paging;

    &::after {
      // Pagination explanation text
      // Content tag should usually not be used for actual page content
      // because it cannot be localized easily
      color: $color-text-weak;
      content: 'Page';
      font-family: $font-family-text;
      font-size: $font-size-default;
      position: absolute;
      right: 12px;
      top: 45px;
    }

    .text { right: 0; }
  }
  // Hover styles to make the pagination diamond animation work.
  // This whole thing would be more usable without the hover animations, but
  // it looks nice.
  &:hover {
    .prev { transform: translateX(-54px); }
    .next { transform: translateX(54px); }
    .first {
      transform: translateX(-108px);
      transition-delay: $transition / 2;
    }

    .last {
      transform: translateX(108px);
      transition-delay: $transition / 2;
    }
  }
}
