.tabs {
  display: inline-block;
  position: relative;
  z-index: $z-index-baseline;

  .btn.active {
    background: tint($color-background, 10%);
    box-shadow: inset 0 -2px 0 $color-shadow,
                inset 0 0 4px $color-highlight,
                0 2px 3px $color-shadow;
    color: $color-text;
  }
}
