.tabs {
  background: tint($color-background, 2.5%);
  box-shadow: inset 0 -4px 2px $color-shadow;
  display: inline-block;
  height: 45px;
  margin-bottom: -4px;
  position: relative;
  width: 100%;
  z-index: $z-index-baseline;

  .btn {
    border-radius: 0;
    height: 22px;
    margin-bottom: 0;
    margin-right: -4px;
    transition: $transition / 2;
    vertical-align: bottom;

    &.active {
      background: tint($color-background, 10%);
      box-shadow: inset 0 -2px 0 $color-shadow,
                  inset 0 0 2px $color-highlight,
                  0 2px 1px $color-shadow;
      color: $color-text;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

[class^=tab-] {
  display: none;
}
