// Colors

// Brand Colors

$color-background:     #272727;
$color-primary:        #dd5ef8;
$color-text-weak:      #777;
$color-text:           #f7f7f7;

// Magic Color Colors

$color-mtg-u:          #0082a6;
$color-mtg-w:          #d5dbe3;
$color-mtg-r:          #da4657;
$color-mtg-g:          #69bd65;
$color-mtg-b:          #504955;

// Fonts

$font-family-display:  'mrs-eaves-xl-serif', Georgia, Times, 'Times New Roman', serif;
$font-family-text:     'mr-eaves-sans', 'helvetica neue', helvetica, arial, sans-serif;