// Colors

$body-bg: #272727;
$brand-primary: #dd5ef8;
$brand-grey: #777777;
$text-color: #f7f7f7;

$mtg-u: #0082a6;
$mtg-w: #d5dbe3;
$mtg-r: #da4657;
$mtg-g: #69bd65;
$mtg-b: #504955;

// Fonts

$font-family-sans: 'mr-eaves-sans', 'helvetica neue', helvetica, arial, sans-serif;
$font-family-serif: 'mrs-eaves', Georgia, Times, 'Times New Roman', serif;
