
// Colors

// Brand Colors
// Colors chosen specifically for Decky and not associated with Magic: The
// Gathering Colors.

$color-background:       hsl(250, 5%, 15%);
$color-background-shade: hsl(250, 5%, 0%);
$color-background-tint:  hsl(250, 5%, 20%);
$color-primary:          hsl(289, 92%, 67%);
$color-text-weak:        hsl(250, 5%, 80%);
$color-text:             hsl(250, 5%, 97%);
$color-border:           hsl(250, 5%, 47%);
$color-border-strong:    hsl(250, 5%, 0%);

// Magic Color Colors
// As Magic doesn't have specific colors chosen for it's Colors as far as I
// can tell, these have been chosen for use in Decky.

$color-mtg-u:            hsl(193, 100%, 33%);
$color-mtg-w:            hsl(224, 20%, 58%);
$color-mtg-r:            hsl(353, 67%, 56%);
$color-mtg-g:            hsl(117, 40%, 57%);
$color-mtg-b:            hsl(275, 8%, 31%);
$color-mtg-c:            hsl(30, 5%, 79%);

// Fonts
// The Display font is used primarily in the names of objects (decks, cards,
// etc.).  The Text font is used for everything else.
// These fonts are included using Typekit.  See layout.html.

$font-family-display:    ('mrs-eaves-xl-serif', serif);
$font-family-text:       ('mr-eaves-sans', sans-serif);

// Font sizes are based on the minor 3rd scale (5:6) with 18px as a base.

$font-size:               18px;
$font-size-default:       1rem;

$font-size-lead:          1.44rem;
$font-size-sub:           1.2rem;

$font-size-h1:            2.986rem;
$font-size-h2:            1.728rem;
$font-size-h3:            1.44rem;
// Smaller headings are not currently in use

// Transitions and animations should never be longer than 0.4s (400ms).
// 0.2s (200ms) is a good baseline.
$transition:              0.2s;

$border-radius:           3px;
$border-radius-circle:    50%;

$z-index-background:      -100;
$z-index-baseline:        100;
$z-index-paging:          200;
$z-index-paging-text:     300;
$z-index-nav:             400;
$z-index-fixed:           500;

// Font-size scale
//
// 18.488rem
// 15.407rem
// 12.839rem
// 10.699rem
//  8.916rem
//  7.430rem
//  6.192rem
//  5.160rem
//  4.300rem
//  3.583rem
//  2.986rem
//  2.488rem
//  2.074rem
//  1.728rem
//  1.440rem
//  1.200rem
//  1.000rem
//  0.833rem
//  0.694rem
//  0.579rem
//  0.482rem
//  0.402rem
//  0.335rem
//
// http://www.modularscale.com/?18&px&1.2
