{% extends "layout.html" %}
{% set active_page = "appendices" %}
{% block title %}Appendices{% endblock %}
{% block body %}
  <div class="container">
    <aside class="sidebar">
      <h3>Topic Search</h3>
      <input class="block" type="text" placeholder="Search by card name&hellip;">
      <h3>Phases of a Turn</h3>
        <ul>
          <li><a href="">Beginning phase</a></li>
          <li><a href="">Pre-combat main phase</a></li>
          <li><a href="">Combat phase</a></li>
          <li><a href="">Post-combat main phase</a></li>
          <li><a href="">Ending phase</a></li>
        </ul>
      <h3>Card Types</h3>
        <ul>
          <li><a href="">Land</a></li>
          <li><a href="">Creature</a></li>
          <li><a href="">Artifact</a></li>
          <li><a href="">Enchantment</a></li>
          <li><a href="">Planeswalker</a></li>
          <li><a href="">Instant</a></li>
          <li><a href="">Sorcery</a></li>
        </ul>
      <h3>Keyword Abilities</h3>
        <ul>
          <li><a href="">Flying</a></li>
          <li><a href="">Equip</a></li>
          <li><a href="">Haste</a></li>
          <li><a href="">First strike</a></li>
          <li><a href="">Reach</a></li>
          <li><a href="">Defender</a></li>
          <li><a href="">Hexproof</a></li>
          <li><a href="">More&hellip;</a></li>
        </ul>
      <h3>Ability Words</h3>
        <ul>
          <li><a href="">Landfall</a></li>
          <li><a href="">Revolt</a></li>
          <li><a href="">Will of the council</a></li>
          <li><a href="">Eminence</a></li>
          <li><a href="">Council's dilemma</a></li>
          <li><a href="">Delirium</a></li>
          <li><a href="">Heroic</a></li>
          <li><a href="">Metalcraft</a></li>
          <li><a href="">More&hellip;</a></li>
        </ul>
      <h3>Formats</h3>
        <ul>
          <li><a href="">Standard</a></li>
          <li><a href="">Modern</a></li>
          <li><a href="">Legacy</a></li>
          <li><a href="">Vintage</a></li>
          <li><a href="">Construced</a></li>
          <li><a href="">Commander/EDH</a></li>
          <li><a href="">Pauper</a></li>
          <li><a href="">Two-Headed Giant</a></li>
          <li><a href="">More&hellip;</a></li>
        </ul>
    </aside>
    <section class="content">
      <h1>Appendices</h1>
      <p class="lead">The Appendices are a collection of all the knowledge one needs to get started playing Magic: the Gathering. Simple explanations of a wide variety of relevant topics can be found by following the links to your left.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, esse odit. Nulla ipsam omnis, commodi eligendi corporis eos, nobis. Quia, voluptate autem! Veritatis labore nihil, molestias non, ex distinctio soluta.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum illo id at earum est quas ipsum, ullam, in facere, nulla laboriosam. Atque blanditiis nostrum reprehenderit animi sequi id repellendus adipisci.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat tenetur facere officia, quaerat alias fugiat, sapiente natus eligendi, sed excepturi distinctio, magnam iste vero dolorem. A, praesentium esse dolores accusamus!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis dignissimos hic nostrum, quisquam earum error eveniet ex voluptate necessitatibus corporis architecto ea modi, eaque vitae obcaecati debitis odio. Consectetur, consequuntur.</p>
      <p>For more complete descriptions of various Magic: the Gathering termns, consult the <a href="">Wiki</a> or dive into the <a href="">Comprehensive Rules</a>.</p>
    </section>
  </div>
{% endblock %}
