{% extends "layout.html" %}
{% set active_page = "login" %}
{% block body %}
<div class="card-bg">
  <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=414494&type=card" alt="">
</div>
<div class="container">
  <div class="login-panel">
    <div class="login-marketing">
      <hgroup>
        <h2>
          Collect cards. <br>Build a deck. <br>Have a pint.
        </h2>
        <h1>
          Wait for the whole thing to blow over.
        </h1>
      </hgroup>
    </div>
    <div class="login-form">
    login form
    </div>
  </div>
</div>
{% endblock %}