{% extends "layout.html" %}
{% set active_page = "login" %}
{% block body %}
<div class="card-bg">
  <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=414494&type=card" alt="">
</div>
<div class="container">
  <div class="login-panel">
    <div class="login-marketing">
      <hgroup>
        <h2>
          Decky &mdash;
        </h2>
        <h1>
          Better living through alchemy
        </h1>
      </hgroup>
    </div>
    <form class="login-form">
      <h2>Sign in <br>to start brewing</h2>
      <label>
        Email <br>
        <input type="email" class="email">
      </label>
      <label>
        Password <br>
        <input type="password">
      </label>
      <br>
      <input type="submit" value="Sign in" class="btn u">
      <a href="" class="btn w">Register</a> <br>
      <a href="">Forgot password?</a>
    </form>
  </div>
</div>
{% endblock %}
