{% extends "layout.html" %}
{% block body %}
	<div class="container">
		<aside>
			<h3>Color</h3>
			<a href="#" class="btn b">
				<span class="mana small sb shadow"></span>
				Black
			</a>
			<a href="#" class="btn u">
				<span class="mana small su shadow"></span>
				Blue
			</a>
			<a href="#" class="btn w">
				<span class="mana small sw shadow"></span>
				White
			</a>
			<a href="#" class="btn r">
				<span class="mana small sr shadow"></span>
				Red
			</a>
			<a href="#" class="btn g">
				<span class="mana small sg shadow"></span>
				Green
			</a>
			<a href="#" class="btn">
				<span class="mana small sc"></span>
				Colorless
			</a>
			<h3>Legal Format</h3>
			<a href="#" class="btn">Standard</a>
			<a href="#" class="btn">Modern</a>
			<a href="#" class="btn">Legacy</a>
			<a href="#" class="btn">Vintage</a>
			<a href="#" class="btn">Commander</a>
			<a href="#" class="btn">Casual</a>
			<a href="#" class="btn">Other&hellip;</a>
			<h3>Set</h3>
			{% for set in sets %}
				<a href="#" class="btn">
					<i class="ss ss-{{ set.code }} ss-common"></i>
					{{ set.name }}
				</a>
			{% endfor %}
			<a href="#" class="btn">
				Other&hellip;
			</a>
			<h3>Deck Type</h3>
			<a href="#" class="btn">Control</a>
			<a href="#" class="btn">Spirits</a>
			<a href="#" class="btn">Competitive</a>
			<a href="#" class="btn">Aggro</a>
			<a href="#" class="btn">Dredge</a>
			<a href="#" class="btn">Rakdos</a>
			<a href="#" class="btn">Other&hellip;</a>
			<h3>Price</h3>
			<div class="input-group">
				<span class="input-group-addon">$</span>
				<input type="text" placeholder="From">
			</div>
			<div class="input-group">
				<span class="input-group-addon">$</span>
				<input type="text" placeholder="To">
			</div>
			<h3>Sort By</h3>
			<a href="#" class="btn">
				Most Liked <span class="caret">▼</span>
			</a>
		</aside>
		<section>
			<div class="search">
				<input type="text">
				<a href="#" class="btn primary">Search</a>
			</div>
			<div class="row">
				{% for deck in cards %}
				<a class="deck" href="deck">
					<div class="color-bar">
						<div class="u" style="height: 30%">30%</div>
						<div class="g" style="height: 30%">30%</div>
						<div class="b" style="height: 40%">40%</div>
					</div>
					<div class="img">
						<img alt="{{deck.name}}" src="{{ url_for('static', filename='images/spell_queller.png') }}" alt="Spell Queller">
					</div>
					<div class="deck-info">
						<div class="title">{{deck.name}}</div>
						<div class="tags">
							<span class="author">senordiablo</span>
							<span class="tag">modern</span>
							<span class="tag">competitive</span>
							<span class="tag">spirits</span>
						</div>
						<div class="stats">
							<div class="likes">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 640" x="0px" y="0px"><path d="M450.26,428c-3.62,2.24-6.36,3.89-4.4,9.29,14.33,39.33-18.48,68.86-47.71,73.45a92.26,92.26,0,0,1-13.95,1.1c-77.19.06-154.39,0.43-231.59-.1C104.29,511.4,69,489,47.56,445.53c-7.18-14.58-10.12-30.35-10.12-46.61q0-58.51,0-117a111.75,111.75,0,0,1,21.93-67.12Q127.68,121,196.12,27.25c4.65-6.35,9.69-12.72,15.69-17.7,17.7-14.73,43.3-12.08,59.11,5.66,16.68,18.7,20.91,40.35,11.66,63.39-13.75,34.24-28.74,68-43.2,101.92-0.78,1.83-1.52,3.66-2.79,6.72,3.65,0,6,0,8.44,0q71.6,0.51,143.21,1c15.56,0.1,30.25,3,42.86,12.89,12.31,9.67,18.7,22.28,18.19,38-0.23,6.88-1.71,13.69-2.18,20.57-0.12,1.73.93,4.58,2.27,5.24,29.13,14.41,32.9,56.44,10.57,79.57a6.36,6.36,0,0,0-1.19,1.55c5,9.1,10.92,16.87,13.63,25.68C479.14,393.72,469.91,415.78,450.26,428Z"/></svg>
								11
							</div>
							<div class="comments">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 640" x="0px" y="0px"><path d="M361.58,42.09c-2.1-.2-4.2-0.4-6.4-0.5q-45.6.15-91.2,0.1c-7.7,0-50.2,0-98.6-.1-12.5.6-21.6,1.3-24.8,1.9-91.9,16.1-154,106.5-138.1,198.6,14.9,86.5,84.5,145.6,172.3,146.1,23.7,0.1,47.4-.3,71.1.3a27.76,27.76,0,0,1,15.4,5.3c24.4,19,48.2,38.9,72.6,57.9,8.4,6.5,17.7,12.4,27.4,16.2,18.1,7,33.5-.9,39.8-19.5a81.21,81.21,0,0,0,4.1-21.2c0.7-13.7.8-27.5,0.3-41.3-0.3-7.4,1.9-11.4,8.8-14.9,67.5-34.4,102.9-98.1,97.1-173.6C505.18,117.59,441,49.49,361.58,42.09Z"/></svg>
								5
							</div>
						</div>
					</div>
				</a>
				{% endfor %}
			</div>
			<div class="pagination text-center">
				<a href="#" class="prev btn primary pull-left">Previous</a>
				<a href="#" class="next btn primary pull-right">Next</a>
				<div class="current-page">1</div>
			</div>
		</section>
	</div>
{% endblock %}
